.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 600px;
  }
  
  .container2 form {
    width: 100%; 
    max-width: 300px; 
  }
  
  .container2 h2 {
    margin-bottom: 40px;
    font-size: 40px;
  }
  
  .container2 div {
    margin-bottom: 10px;
  }
  
  .container2 label {
    display: block;
    margin-bottom: 5px;
    margin-left: -40px;
  }
  
  .container2 input {
    width: 150%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: -40px;
  }
  .submitButtoncontainer2 {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .loginButtoncontainer2 {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #007bff;
    color: #fff;
  }